<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="SQLServerConnectionString" connectionString="data source=vicsqldev,1433;initial catalog=PreethamTestDB;persist security info=True;Integrated Security=True;"/>
    <add name="DataSource.iMIS.Connection" connectionString="server=vicsqldev,1433;database=iMIS;uid=Web_Imis;pwd=x!@ctly9;" />
    <add name="LocalDB" connectionString="server=localhost\sqlexpress;database=CEDA_iMIS_Live;persist security info=True;Integrated Security=True;" />
    <add name="LocalDBCEDA" connectionString="server=localhost\sqlexpress;database=CEDA_iMIS_Live;persist security info=True;Integrated Security=True;" />
    <add name="CEDA_CMS" connectionString="server=vicsqldev, 1433;database=CEDA_iMIS_Live;persist security info=True;Integrated Security=True;" />
  </connectionStrings>
  <appSettings>
    <add key="Email.From" value="noreply@ceda.com.au" />
    <add key="Email.From.OnlineUser" value="onlineuser@ceda.com.au" />
    <add key="Email.Host" value="smtp.gmail.com" />
    <add key="Email.Port" value="587" />
    <add key="Email.Username" value="cedatestsmtp@gmail.com" />
    <add key="Email.Password" value="Iudpgfn8#" />
    <add key="Email.EnableSSL" value="true" />

    <add key="BCCList" value="preetham.kh@ceda.com.au;event.confirmation@ceda.com.au" />
    
    <!-- PRODUCTION -->
    <!--<add key="Email.From" value="noreply@ceda.com.au" />
    <add key="Email.From.OnlineUser" value="onlineuser@ceda.com.au" />
    <add key="Email.Host" value="localhost" />
    <add key="Email.Port" value="" />
    <add key="Email.Username" value="" />
    <add key="Email.Password" value="" />
    <add key="Email.EnableSSL" value="false" />-->
    <add key="Informz.Mailings" value="OPENED,MAILING_ID,PUBLISH_DATE,MAILING_NAME,DELIVERED,CLICKED" />
    <add key="Name.General" value="TRUSTEE_SA,CAPABILITIES,EMAIL_TO_USE,CC_EMAIL,ALTERNATES,NATIONAL_MEMBER,RESEARCH_ALERTS,SPONSORSHIP_CONTACT_ID,VENUE,CONTRA_MEMBER,EVENT_HOSTING,SEC,TRUSTEE_WA,EVENT_SPONS,SEC_EMAIL,SPONS,SEC_PH,TRUSTEE_TAS,MEAL_PREFS,CEDA_PRINT,RNDTBLGRP,RESIGNED_NOTES,EMAIL_BOTH,MOBILE_NUMBER,ADHOC_EMAIL_LIST,NO_NEWS,DIRECT_PH_NO,TRUSTEE_QLD,TRUSTEE_NAT,ACCOUNT_MANAGER,DATE_RESIGNED,TRUSTEE_VIC,VEGETARIAN,NO_EMAIL,DIARY_NOTE,EMAIL_SEC,MAIL_PREFS,COMP_MEMBER,TRUSTEE_NSW,NO_DIP,COMP_LIB_MEMBER,INDUSTRY_CLASS,INTERESTS_OTHER,PUBLIC_NAME,TRUSTEE_NT,EMPLOYEES,SPEAKING_PREFS,RES_SUB,SUBMONTH,NEWS_PREFS,SWTCHBRD,MODE,TRX_APP,OCCUPTATION,TR_EVENTS,TRUSTEE_ACT,INTERESTS,ACQUIRED,BLOG_USER_NAME,REGISTERED_NAME" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <ConsoleApplication1.Properties.Settings>
      <setting name="ConsoleApplication1_RSExecution2005_ReportExecutionService"
        serializeAs="String">
        <value>http://vicsqldev:80/ReportServer/ReportExecution2005.asmx</value>
      </setting>
    </ConsoleApplication1.Properties.Settings>
  </applicationSettings>
</configuration>